<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <div class="toolbarBut">
        <ion-button fill="clear" color="medium">
          <ion-icon slot="icon-only" name="cube-outline"></ion-icon>
        </ion-button>

        <ion-button (click)="swipeUp()" fill="clear" color="medium">
          <ion-icon slot="icon-only" name="arrow-up-circle"></ion-icon>
        </ion-button>

        <ion-button id="flecheHaut" fill="clear" color="medium">
          <ion-icon slot="icon-only" name="expand"></ion-icon>
        </ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <sw-card-wrapper #cardWrapper>
    <div
      class="card"
      *ngFor="let land of lands, let index = index"
      [class.visible]="land.visible"
      [class.hidden]="!land.visible"
      swSwipeable
      [width]="350"
      [height]="500"
      [orientation]="'x'"
      (swiped)="swiped($event, index)"
      
      >
      
      <img [src]="land.image" [alt]="land.name" />
      <h2>{{land.name}}, {{land.id}}</h2>
    </div>
  </sw-card-wrapper>
  <div class="land_bg_box">
    <div class="land_bg_1">
      <ion-item  *ngFor="let result of results">
        <ion-label>{{ result }}</ion-label>
      </ion-item>
    </div>
    <div class="land_bg_2"></div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <div class="toolbarBut">
        <ion-button fill="clear" color="medium">
          <ion-icon slot="icon-only" name="aperture-outline"></ion-icon>
        </ion-button>

        <ion-button (click)="swipeDown()" fill="clear" color="medium">
          <ion-icon slot="icon-only" name="arrow-down-circle"></ion-icon>
        </ion-button>

        <ion-button fill="clear" color="medium">
          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
        </ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
